# ============================================================
# ENVIRONNEMENTS VIRTUELS
# ============================================================
.venv/
venv/
env/
Environnements/
*.venv

# ============================================================
# PYTHON
# ============================================================
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# ============================================================
# JUPYTER NOTEBOOK
# ============================================================
.ipynb_checkpoints/
*.ipynb_checkpoints

# ============================================================
# DATA & FICHIERS LOURDS
# ============================================================
*.json
*.zip
*.h5
*.pkl
*.parquet
data/

# ============================================================
# MODELES ML
# ============================================================
*.model
*.weights
saved_model/
checkpoints/

# ============================================================
# FICHIERS SENSIBLES
# ============================================================
.env
*.key
kaggle.json
secrets.json
config.ini

# ============================================================
# OS
# ============================================================
.DS_Store          # macOS
Thumbs.db          # Windows
desktop.ini

# ============================================================
# IDE / EDITEURS
# ============================================================
.vscode/
.idea/
*.sublime-project
*.sublime-workspaceS